.s-gallery {
  &__slider {
    border-radius: 4px;
  }
  &__slide {
    position: relative;
    display: flex !important;
    align-items: flex-end;
    padding: 24px;
    overflow: hidden;
    box-sizing: border-box;
    color: white;
    aspect-ratio: 1/1.13;
    z-index: 1;

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      background-color: black;
      opacity: 0.2;
      z-index: -1;
    }

    .btn-play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__slide-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    @include tablet {
      font-size: 16px;
    }
  }
}
