<div class="modal" id="modal-connect">
  <h3 class="s-title">Записаться</h3>
  <p class="content _medium">
    Оставьте заявку и мы свяжемся с Вами в ближайшее время
  </p>
  <form action="#" class="modal__form">
    <div class="input-control">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-profile"></use>
      </svg>
      <input type="text" placeholder="Ваше имя" class="input" />
    </div>
    <div class="input-control">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-tel"></use>
      </svg>
      <input type="tel" placeholder="Номер телефона" class="input" />
    </div>
    <div class="input-control">
      <textarea placeholder="Ваш вопрос" rows="3" class="input"></textarea>
    </div>
    <button class="btn-s intro__form-btn">Отправить</button>
    <input type="checkbox" id="connect-policy" class="input-check" />
    <label for="connect-policy" class="label-check">
      <span>
        Согласен с условиями
        <a href="#" target="_blank">Политики конфиденциальности</a>
      </span>
    </label>
  </form>
</div>

<footer class="footer">
  <div class="container"></div>
</footer>

<script src="./files/swiper/swiper.min.js"></script>
<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/inputmask/inputmask.min.js"></script>
