<div class="modal" id="modal-connect">
  <h3 class="s-title">Записаться</h3>
  <p class="content _medium">
    Оставьте заявку и мы свяжемся с Вами в ближайшее время
  </p>
  <form action="#" class="modal__form">
    <div class="input-control">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-profile"></use>
      </svg>
      <input type="text" placeholder="Ваше имя" class="input" />
    </div>
    <div class="input-control">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-tel"></use>
      </svg>
      <input type="tel" placeholder="Номер телефона" class="input" />
    </div>
    <div class="input-control">
      <textarea placeholder="Ваш вопрос" rows="3" class="input"></textarea>
    </div>
    <button class="btn-s intro__form-btn">Отправить</button>
    <input type="checkbox" id="connect-policy" class="input-check" />
    <label for="connect-policy" class="label-check">
      <span>
        Согласен с условиями
        <a href="#" target="_blank">Политики конфиденциальности</a>
      </span>
    </label>
  </form>
</div>

<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__main">
        <a href="/" class="footer__logo">
          <img src="@img/logo-white.svg" alt="logo" />
        </a>
        <a href="#s-cal" data-anchor class="btn-s footer__btn">
          Рассчитаться стоимость
        </a>
      </div>
      <div class="footer__nav">
        <div class="footer__nav-item">
          <div class="footer__nav-title">Навигация</div>
          <ul class="list footer__nav-list">
            <li><a href="#s-portfolio" data-anchor>Наши работы</a></li>
            <li><a href="#s-services" data-anchor>Услуги</a></li>
            <li><a href="#s-reviews" data-anchor>Отзывы</a></li>
            <li><a href="#s-faq" data-anchor>FAQ</a></li>
          </ul>
        </div>
        <div class="footer__nav-item">
          <div class="footer__nav-title">Юридическая информация</div>
          <ul class="list footer__nav-list">
            <li><a href="#">Политика конфиденциальности</a></li>
            <li><a href="#">Публичная оферта</a></li>
          </ul>
        </div>
        <div class="footer__nav-item">
          <div class="footer__nav-title">Контакты</div>
          <ul class="list footer__nav-list">
            <li>
              <a href="tel:+371 29644485" target="_blank">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-tel"></use>
                </svg>
                <span>+371 29644485</span>
              </a>
            </li>
            <li>
              <a href="mailto:nfo@baza-d.lv" target="_blank">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mail"></use>
                </svg>
                <span>nfo@baza-d.lv</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="./files/swiper/swiper.min.js"></script>
<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/inputmask/inputmask.min.js"></script>
