<div class="header-message">
  <div class="container">Бесплатный 3D-проект и замер</div>
</div>
<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="@img/logo-white.svg" class="header__logo">
        <img src="@img/logo-white.svg" alt="logo" />
      </a>
      <nav class="header__nav">
        <ul class="list header__list">
          <li><a href="#">Наши работы</a></li>
          <li><a href="#">Услуги</a></li>
          <li><a href="#">Отзывы</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </nav>
      <div class="header__end">
        <div class="header__contacts">
          <div class="header__contacts-item">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
            <span>по всей Латвии</span>
          </div>
          <a href="tel:+37129644485" class="header__contacts-item">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-tel"></use>
            </svg>
            <span> +371 29644485</span>
          </a>
        </div>
        <div class="lang-toggle">
          <a href="#" class="lang-btn _active">ru</a>
          <a href="#" class="lang-btn">EN</a>
        </div>
        <div class="header__burger-btn" id="burger-open">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-burger"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="burger-overlay" id="burger-overlay"></div>
<div class="burger" id="burger">
  <div class="burger__head">
    <a href="/" class="burger__logo">
      <img src="@img/logo.svg" alt="logo" />
    </a>
    <div class="burger__close" id="burger-close">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-close"></use>
      </svg>
    </div>
  </div>
  <ul class="list burger__list">
    <li><a href="#">Наши работы</a></li>
    <li><a href="#">Услуги</a></li>
    <li><a href="#">Отзывы</a></li>
    <li><a href="#">FAQ</a></li>
  </ul>
  <div class="burger__contacts">
    <div class="burger__contacts-item">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-location"></use>
      </svg>
      <span>по всей Латвии</span>
    </div>
    <a href="tel:+37129644485" class="burger__contacts-item">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-tel"></use>
      </svg>
      <span> +371 29644485</span>
    </a>
  </div>
</div>
