<section
  class="intro"
  style="
    background: url(&quot;@img/intro-bg.jpg&quot;) center / cover no-repeat;
  "
>
  <div class="container">
    <div class="intro__wrapper">
      <div class="intro__main">
        <h1 class="intro__title">Кухни на заказ от производителя</h1>
        <p class="intro__content">
          Создаём кухни на заказ — под любой интерьер, бюджет и потребности.
          Прямое производство без лишних затрат.
        </p>
        <div class="intro__adv">
          <div class="intro__adv-item">
            <div class="intro__num">15</div>
            <div class="intro__adv-content">
              лет
              <br />
              опыта
            </div>
          </div>
          <div class="intro__adv-item">
            <div class="intro__num">500+</div>
            <div class="intro__adv-content">Построенных <br> проектов</div>
          </div>
          <div class="intro__adv-item">
            <div class="intro__num">5</div>
            <div class="intro__adv-content">
              лет <br> гарантии
            </div>
          </div>
        </div>
      </div>
      <div class="intro__form-wrapper">
        <h3 class="intro__form-title">Оставьте заявку</h3>
        <p class="intro__form-content">Напишите нам, и мы свяжемся с вами</p>
        <form action="#" class="intro__form">
          <div class="input-control">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-profile'></use>
            </svg>
            <input type="text" placeholder="Ваше имя" class="input">
          </div>
          <div class="input-control">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-tel'></use>
            </svg>
            <input type="tel" placeholder="Номер телефона" class="input">
          </div>
          <div class="input-control">
            <textarea placeholder="Ваш вопрос" rows="3" class="input"></textarea>
          </div>
          <button class="btn-s intro__form-btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
