<section class="s-clients sect-m">
  <div class="container">
    <div class="sect-head">
      <div class="sect-head__info">
        <h2 class="s-title">Что говорят наши клиенты</h2>
        <p class="content _medium">
          Мебель, изготовленная на заказ для каждой комнаты
        </p>
      </div>
      <div class="slider-nav">
        <div class="slider-nav__btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
          </svg>
        </div>
        <div class="slider-nav__btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-clients__slider">
      <div class="swiper-wrapper">
        <a
          href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
          data-fancybox
          class="swiper-slide s-clients__slide"
          style="
            background: url(&quot;@img/client.jpg&quot;) center / cover
              no-repeat;
          "
        >
          <div class="s-clients__slide-content">
            Кухня в Риге | Отзыв семьи Ивановых
          </div>
          <div class="btn-play">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-play"></use>
            </svg>
          </div>
        </a>
        <a
          href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
          data-fancybox
          class="swiper-slide s-clients__slide"
          style="
            background: url(&quot;@img/client.jpg&quot;) center / cover
              no-repeat;
          "
        >
          <div class="s-clients__slide-content">
            Кухня в Риге | Отзыв семьи Ивановых
          </div>
          <div class="btn-play">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-play"></use>
            </svg>
          </div>
        </a>
        <a
          href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
          data-fancybox
          class="swiper-slide s-clients__slide"
          style="
            background: url(&quot;@img/client.jpg&quot;) center / cover
              no-repeat;
          "
        >
          <div class="s-clients__slide-content">
            Кухня в Риге | Отзыв семьи Ивановых
          </div>
          <div class="btn-play">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-play"></use>
            </svg>
          </div>
        </a>
        <a
          href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
          data-fancybox
          class="swiper-slide s-clients__slide"
          style="
            background: url(&quot;@img/client.jpg&quot;) center / cover
              no-repeat;
          "
        >
          <div class="s-clients__slide-content">
            Кухня в Риге | Отзыв семьи Ивановых
          </div>
          <div class="btn-play">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-play"></use>
            </svg>
          </div>
        </a>
        <a
          href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
          data-fancybox
          class="swiper-slide s-clients__slide"
          style="
            background: url(&quot;@img/client.jpg&quot;) center / cover
              no-repeat;
          "
        >
          <div class="s-clients__slide-content">
            Кухня в Риге | Отзыв семьи Ивановых
          </div>
          <div class="btn-play">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-play"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
    <div class="slider-scrollbar"></div>
  </div>
</section>
