<section class="s-connect sect-p">
  <div class="container">
    <div class="s-connect__wrapper">
      <div class="s-connect__main">
        <h2 class="s-title s-connect__title">Остались вопросы?</h2>
        <div class="s-connect__buttons">
          <a href="tel:+37129644485" class="s-connect__btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-tel"></use>
            </svg>
            <span>+371 29644485</span>
          </a>
          <a href="mailto:nfo@baza-d.lv" class="s-connect__btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-mail"></use>
            </svg>
            <span>nfo@baza-d.lv</span>
          </a>
        </div>
        <div class="s-connect__form-wrapper">
          <h3 class="s-connect__form-title">Оставьте заявку</h3>
          <p class="content s-connect__form-content">
            Напишите нам, и мы свяжемся с вами
          </p>
        </div>
      </div>
      <img src="@img/connect.jpg" alt="image" class="s-connect__img">
    </div>
  </div>
</section>
