<section class="s-faq sect-m">
  <div class="container">
    <h2 class="s-title">FAQ</h2>
    <div data-spollers class="s-faq__spollers">
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Часто задаваемые Вопросы</span>
          <div>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-plus"></use>
            </svg>
          </div>
        </div>
        <div>
          <div class="content s-faq__spoller-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo,
              quas? Ab necessitatibus vero sed accusamus obcaecati amet, iusto
              maiores labore.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo,
              quas? Ab necessitatibus vero sed accusamus obcaecati amet, iusto
              maiores labore.
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Часто задаваемые Вопросы</span>
          <div>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-plus"></use>
            </svg>
          </div>
        </div>
        <div>
          <div class="content s-faq__spoller-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo,
              quas? Ab necessitatibus vero sed accusamus obcaecati amet, iusto
              maiores labore.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo,
              quas? Ab necessitatibus vero sed accusamus obcaecati amet, iusto
              maiores labore.
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Часто задаваемые Вопросы</span>
          <div>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-plus"></use>
            </svg>
          </div>
        </div>
        <div>
          <div class="content s-faq__spoller-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo,
              quas? Ab necessitatibus vero sed accusamus obcaecati amet, iusto
              maiores labore.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo,
              quas? Ab necessitatibus vero sed accusamus obcaecati amet, iusto
              maiores labore.
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Часто задаваемые Вопросы</span>
          <div>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-plus"></use>
            </svg>
          </div>
        </div>
        <div>
          <div class="content s-faq__spoller-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo,
              quas? Ab necessitatibus vero sed accusamus obcaecati amet, iusto
              maiores labore.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo,
              quas? Ab necessitatibus vero sed accusamus obcaecati amet, iusto
              maiores labore.
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Часто задаваемые Вопросы</span>
          <div>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-plus"></use>
            </svg>
          </div>
        </div>
        <div>
          <div class="content s-faq__spoller-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo,
              quas? Ab necessitatibus vero sed accusamus obcaecati amet, iusto
              maiores labore.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo,
              quas? Ab necessitatibus vero sed accusamus obcaecati amet, iusto
              maiores labore.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
