<section class="sect-m s-offer">
  <div class="container">
    <div
      class="s-offer__body"
      style="background: url(&quot;@img/offer.jpg&quot;) 0 0 / cover no-repeat"
    >
      <div class="s-offer__inside">
        <h2 class="s-title s-offer__title">
          Успейте записаться на бесплатный замер до 1 сентября
        </h2>
        <div class="content _medium">До конца акции осталось:</div>
        <div class="s-offer__timer" id="offer-timer">02 : 56 : 16</div>
        <a href="#modal-connect" data-fancybox class="btn-s s-offer__btn">Записаться на замер</a>
      </div>
    </div>
  </div>
</section>
