<section class="s-partners">
  <div class="container">
    <div class="swiper s-partners__slider">
      <div class="swiper-wrapper">
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/logo-partner.png" alt="image" />
        </a>
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/logo-partner.png" alt="image" />
        </a>
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/logo-partner.png" alt="image" />
        </a>
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/logo-partner.png" alt="image" />
        </a>
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/logo-partner.png" alt="image" />
        </a>
      </div>
    </div>
  </div>
</section>
