<section class="s-portfolio sect-m">
  <div class="container tabs">
    <h2 class="s-title">Ознакомьтесь с нашими работами</h2>
    <div class="content s-portfolio__content">
      Мебель, изготовленная на заказ для каждой комнаты
    </div>
    <ul class="list categories-list">
      <li>
        <div data-tab-btn="tab-1" class="categories-btn _active">Все</div>
      </li>
      <li><div data-tab-btn="tab-2" class="categories-btn">Кухни</div></li>
      <li><div data-tab-btn="tab-3" class="categories-btn">Шкафы</div></li>
      <li><div data-tab-btn="tab-4" class="categories-btn">Ванные</div></li>
      <li><div data-tab-btn="tab-5" class="categories-btn">Офис</div></li>
    </ul>
    <div data-tab="tab-1" class="_active">
      <div class="swiper s-portfolio__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="card-product">
              <ul class="list card-product__adv">
                <li>Минимализм</li>
                <li>LED-подсветка</li>
              </ul>
              <img
                src="@img/product.jpg"
                alt="image"
                class="card-product__img"
              />
              <div class="card-product__body">
                <h5 class="card-product__title">Встроенная мебель</h5>
                <p class="card-product__content">
                  Шкафы с зеркальными фасадами
                </p>
                <ul class="list card-product__spec">
                  <li>8 м²</li>
                  <li>2 недели</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-product">
              <ul class="list card-product__adv">
                <li>Минимализм</li>
                <li>LED-подсветка</li>
              </ul>
              <img
                src="@img/product.jpg"
                alt="image"
                class="card-product__img"
              />
              <div class="card-product__body">
                <h5 class="card-product__title">Встроенная мебель</h5>
                <p class="card-product__content">
                  Шкафы с зеркальными фасадами
                </p>
                <ul class="list card-product__spec">
                  <li>8 м²</li>
                  <li>2 недели</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-product">
              <ul class="list card-product__adv">
                <li>Минимализм</li>
                <li>LED-подсветка</li>
              </ul>
              <img
                src="@img/product.jpg"
                alt="image"
                class="card-product__img"
              />
              <div class="card-product__body">
                <h5 class="card-product__title">Встроенная мебель</h5>
                <p class="card-product__content">
                  Шкафы с зеркальными фасадами
                </p>
                <ul class="list card-product__spec">
                  <li>8 м²</li>
                  <li>2 недели</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-product">
              <ul class="list card-product__adv">
                <li>Минимализм</li>
                <li>LED-подсветка</li>
              </ul>
              <img
                src="@img/product.jpg"
                alt="image"
                class="card-product__img"
              />
              <div class="card-product__body">
                <h5 class="card-product__title">Встроенная мебель</h5>
                <p class="card-product__content">
                  Шкафы с зеркальными фасадами
                </p>
                <ul class="list card-product__spec">
                  <li>8 м²</li>
                  <li>2 недели</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-product">
              <ul class="list card-product__adv">
                <li>Минимализм</li>
                <li>LED-подсветка</li>
              </ul>
              <img
                src="@img/product.jpg"
                alt="image"
                class="card-product__img"
              />
              <div class="card-product__body">
                <h5 class="card-product__title">Встроенная мебель</h5>
                <p class="card-product__content">
                  Шкафы с зеркальными фасадами
                </p>
                <ul class="list card-product__spec">
                  <li>8 м²</li>
                  <li>2 недели</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-scrollbar"></div>
    </div>
    <a href="#" class="btn-s s-portfolio__btn">Рассчитаться стоимость</a>
  </div>
</section>
