<section class="s-services sect-m">
  <div class="container">
    <h2 class="s-title">Услуги</h2>
    <p class="content _semibold">Мебель, изготовленная на заказ для каждой комнаты</p>

    <div class="s-services__grid">
      <a href="#" class="s-services__item">
        <img src="@img/service.jpg" alt="image">
        <div class="s-services__item-body">
          <h5 class="s-services__item-title">Шкафы</h5>
          <div class="s-services__item-circle">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-arrow-line-up'></use>
            </svg>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>